.three-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  opacity: 0.4;
}

.three-background canvas {
  display: block;
  width: 100%;
  height: 100%;
}
